body{
    margin: auto;
    background-color: black;
}
#pattern{
    width: 100%;
    height: 2in;
}
#ip{
    font-size: 20px;
    color: white;
    position: relative;
bottom: 200px;
   text-align: center;
}
#go{
    width
}
#input{
    width: 3in;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    position: relative;
    bottom: 200px;
    left: 440px;
}
#address{
    width: 2in;
    font-size: 17px;
    border: rgb(245, 242, 242) solid 1px;
    height: 0.25in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard{
    background-color: whitesmoke;
    width: 6in;
    height: 1in;
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    left: 250px;
    bottom: 150px;
    z-index: 1000;
    
}
#one{
    margin-left: 30px;
}
#three, #two{
   font-size: 15px;
}
#isp{
    display: flex;
    text-align: center;
}

#map{
    height: 700px;
    width: 100%;
    position: relative;
    bottom: 210px;
}
#loc,#time,#isp{
    font-size: 25px;
    font-weight: 700;
   text-align: center;
    display: flex;
    flex-direction: column;
  
}
#service{
    padding-left: 70px;
}
b{
    font-size: 20px;

}

@media screen and (max-width:420px){
    body{
        background-color: white;
        width: 100%;
    }
    #pattern{
        width: 100%;
        height: 2in;
    } 
    #ip{
       display: flex;
       flex-direction: row;
       align-items: center;
        font-size: 22px;
        color: white;
        position: relative;
        bottom: 200px;
       left: 100px;
        
    }
    #input{
       display: flex;
       flex-direction: row;
       align-items: center;
     
        position: relative;
        bottom: 200px;
        left: 90px;
    }
    #address{
        display: flex;
        direction: column;
        align-items: center;
        width: 1.95in;
        border: rgb(245, 242, 242) solid 1px;
        height: 0.27in;
        font-size: 20px;
    }
   
    #arrow{
        width: 15px;
        position: relative;
        bottom: 225px;
        left: 190px;
    }
    #dashboard{
        background-color: whitesmoke;
        width:2.8in;
       height: fit-content;
        position: relative;
        left: 50px;
        bottom: 210px;
       z-index: 1000;
        display: block;
        border-radius: 10px;
        
    }
    #service{
        /* padding-left: 20px; */
        padding-top: 20px;
    }
    #one{
        /* margin-left: 0px; */
       padding-left: 0.8in;
        font-size: 16px;
    }
    #three, #two{
        
   padding-left: 110px;
   font-size: 16px;
    }
    #four{
        padding-left: 100px;
        font-size: 13px;
       
    }
    #map{
        height: 700px;
        width: 100%;
        position: relative;
        bottom:430px;
        display: block;
        z-index: 1;
      
    }
    #ips,#loc,#time,#isp{
        font-size: 25px;
        font-weight: 700;
       display: flex;
       flex-direction: column;
       align-items: center;
     
    }
    #i{
        padding-left: 20px;
    }
}