html{
    font-size: 16px;
}
body{
    margin: auto;
    background-color: black;
}
#pattern{
    width: 100vw;
    height: 25vh;
    position: relative;
}
#ip{
    font-size: 1.2rem;
    color: white;
    position: absolute;
   text-align: center;
   top: 0rem;
  left: 40vw;
}
#input{
    width: 3in;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 3rem;
    left: 33rem;

}
#address{
    width: 2in;
    font-size: 17px;
    border: rgb(245, 242, 242) solid 1px;
    height: 0.25in;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#dashboard{
    background-color: whitesmoke;
    width: 6in;
    height: 1in;
    display: flex;
    position: relative;
   top: -4rem;
   margin-left: 32vw;
    
}
#one{
    margin-left: 30px;
}
#three, #two{
   font-size: 15px;
}
#isp{
    display: flex;
    text-align: center;
}

#map{
    height: 700px;
    width: 100%;
    position: relative;
    bottom: 210px;
}
#loc,#time,#isp{
    font-size: 25px;
    font-weight: 700;
   text-align: center;
    display: flex;
    flex-direction: column;
  
}
#service{
    padding-left: 70px;
}
b{
    font-size: 20px;

}

@media screen and (max-width:420px){
    html, body{
        font-size: 16px;
        overflow-x: hidden;
    }
    body{
        background-color: white;
        width: 100vw;
    }
    #pattern{
        position: relative;
        width: 100vw;
        height: 20vh;
    } 
    #ip{
       display: flex;
       flex-direction: row;
       align-items: center;
        font-size: 1.3rem;
        color: white;
        position: absolute;
        top: 1rem;
       left: 31vw;
        z-index: 1000
    }
    #input{
       display: flex;
       flex-direction: row;
       align-items: center;
        position: absolute;
        left: 27vw;
        top: 4rem;
   
    }
    #address{
        display: flex;
        direction: column;
        align-items: center;
        width: 1.95in;
        border: rgb(245, 242, 242) solid 1px;
        height: 0.27in;
        font-size: 20px;
    }
   
    #arrow{
        width: 15px;
        position: relative;
        bottom: 225px;
        left: 190px;
    }
    #dashboard{
        background-color: whitesmoke;
        width:20rem;
       height: fit-content;
        position: absolute;
        left: -6em;
        top: 7rem;
       z-index: 900;
        display: block;
        border-radius: 10px;
        
    }
    #service{
       padding-left: 5rem;
        font-size: 1rem;
    }
    #three, #two{
        
   padding-left: 30px;
   font-size: 16px;
    }
    #four{
        padding-left: 100px;
        font-size: 13px;
       
    }
    #map{
        height: 100vh;
        width: 100vw;
        position: absolute;
       top: 8.5rem;
        display: block;
        z-index: 1;
      
    }
    #ips,#loc,#time{
        font-size: 25px;
        font-weight: 700;
       display: flex;
       flex-direction: column;
     padding-right: 3rem;
     
    }
    #isp{
        font-size: 25px;
        font-weight: 700;
       display: flex;
       flex-direction: column;
     padding-right: 3.5rem;
    }
    #i{
        padding-left: 20px;
    } */
}